<div class="flex-container">
  <div class="card">
    <span>
      <div><%= image_tag "julien.jpg", class: "circle_img" %></div>
      <div class="card-body">
        <div class="text_center card-title">
          <h3>Julien </h3>
        </div>
        <div class="global">
          <a href="https://www.linkedin.com/in/julien-gracia-4728541b/"><%= image_tag "ink.png", class: "card-avatar" %></a>
          <a href="https://www.instagram.com/_juliengracia/?hl=fr"><%= image_tag "insta.png", class: "card-avatar" %></a>
          <a href="https://github.com/mothinx"><%= image_tag "github.png", class: "card-avatar" %></a>
        </div>
      </div>
    </span>
  </div>
  <div class="card">
    <span>
      <div><%= image_tag "asvinie.jpg", class: "circle_img" %></div>
      <div class="card-body">
        <div class="text_center card-title">
          <h3>Asvinie </h3>
        </div>
        <div class="global">
          <a href="https://www.linkedin.com/in/asvinie-baleswaran-80923010a/"><%= image_tag "ink.png", class: "card-avatar" %></a>
          <a href="https://www.instagram.com/asvinieworld/"><%= image_tag "insta.png", class: "card-avatar" %></a>
          <a href="https://github.com/asvinie057"><%= image_tag "github.png", class: "card-avatar" %></a>
        </div>
      </div>
    </span>
  </div>
    <div class="card">
    <span>
      <div><%= image_tag "camilo.jpg", class: "circle_img" %></div>
      <div class="card-body">
        <div class="text_center card-title">
          <h3>Camilo</h3>
        </div>
        <div class="global">
          <a href="https://www.linkedin.com/in/camilo-o-bb9158174/"><%= image_tag "ink.png", class: "card-avatar" %></a>
          <a href="https://www.instagram.com/milo_35_/"><%= image_tag "insta.png", class: "card-avatar" %></a>
          <a href="https://github.com/rumkox"><%= image_tag "github.png", class: "card-avatar" %></a>
        </div>
      </div>
    </span>
    </div>
</div>

<%= render 'home/footer' %>
